@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    background: rgb(40, 37, 53);
}

.mainContainer {
    height: 80vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
}

.playBtn {
    position: fixed;
    top: 40vh;
    color: white;
    padding: 10px 30px;
    border: 3px solid white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.playBtn:hover {
    background-color: white;
    color: black;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(57, 53, 75);
    padding: 1vw 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    height: 9vh;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

button {
    width: 25vw;
}

.profilePicture {
    height: 95%;
    border-radius: 50%;
    margin-left: 1vw;
}

.playerInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 80%;
    color: white;
    font-weight: 600;
}

#nick {
    margin: 0;
}

.counters {
    display: flex;
    justify-content: space-between;
    width: 60%;
}