@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    background: rgb(40, 37, 53);
}

p {
    margin: 0;
}

h3 {
    margin: 0;
}

a:visited {
    text-decoration: none;
}

.mainContainer {
    height: 80vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
}

.playBtn:hover {
    background-color: white;
    color: black;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(57, 53, 75);
    padding: 1vw 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    height: 9vh;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

button {
    width: 25vw;
}

.profilePicture {
    height: 95%;
    border-radius: 50%;
    margin-left: 1vw;
}

.playerInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 80%;
    color: white;
    font-weight: 600;
}

#nick {
    margin: 0;
}

.counters {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

main {
    height: 80vh;
}

.section {
    width: 95vw;
    margin: 5% 0;
    position: fixed;
    left: -100%;
    transition: all 0.3s ease-in-out;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    z-index: 1;
}

.jcenter {
    justify-content: center;
}

.show {
    left: 0;
}

.toggle-switch {
    margin:20px 0px;
}

.toggle-switch label {
  position:relative;
  display:block;
  width:15vw;
  height:7vw;
  background:#ddd;
  cursor:pointer;
  border-radius:15px;
  transition:all 0.3s ease-in-out;
}

.toggle-switch label:after {
  content:"";
  position:absolute;
  width:5vw;
  height:5vw;
  background:#eee;
  top:50%;
  left:0px;
  transform:translateY(-50%);
  border-radius:50%;
  box-shadow:inset 0px 0px 1px 1px #ddd;
  transition:all 0.3s ease-in-out;
}

.toggle-switch input:checked + label:after {
  left:calc(15vw - 6vw);
}

.toggle-switch input#switch-vibration:checked + label {
  background:rgb(157,213,255);
}
.toggle-switch input#switch-vibration:checked + label:after {
  background:rgb(34,151,255);
}

.toggle-switch input {
  display:none;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

footer > button {
    background-color: #39354b;
    border: 1px solid rgba(0, 0, 0, 0.411);
    color:  white;
    transition: all 0.3s ease-in-out;
}

.toggeled {
    margin: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.411);
}

.levelCard {
    width: 90%;
    border: 4px solid white;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    margin: 2% 0;
}

.levelDesc {
    width: 70%;
    margin: 2% 0 2% 2%;
}

.playBtn {
    border: 2px solid white;
    border-radius: 8px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: white;
}

.playBtn:hover {
    background-color: rgba(255, 255, 255, 0.445);
    color: white;
}

.progressBar {
    background-color: rgba(255, 255, 255, 0.445);
    height: 1vh;
    width: 60vw;
    border-radius: 5px;
}

.progressBar > div {
    background-color: #7152ff;
    height: 100%;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.shop {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 3vw;
}

.shopCardDiv {
    background-color: #39354b;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding:1vh 1vw 0 1vw;
    border-radius: 5px;
    margin: 2% 0;
    border: 2px solid rgba(0, 255, 34, 0);
}

.shopCardDiv > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.shopCardDiv > img {
    width: 80%;
}

.shopCardDiv > div > button {
    border: 1px solid #eee;
    background: none;
    color: white;
    border-radius: 3px;
}

.shopCardDiv > div > h4 {
    margin: 1% 0;
    font-size: 3.5vw;
}

.shopCardDiv > div > p {
    margin: 5px 0;
    font-size: 3vw;
}

.back {
    background-color: rgba(0, 0, 0, 0.576);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    transition: all 0.5s ease;
}

.itemPage {
    position: fixed;
    top: 30vh;
    left: 15vw;
    width: 70vw;
    border: 2px solid white;
    background-color: #39354b;
    z-index: 5;
    padding: 2%;
    color: #ddd;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.itemPageTop {
    display: flex;
}

.itemPageTop > img {
    width: 30%;
    height: 30%;
}
.itemPageTop > div {
    width: 70%;
    padding-left: 7%;
}

.itemPageTop > div > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.itemPagebottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
}

.itemPagebottom > div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buyButton {
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.greenOutline {
    border: 2px solid rgb(0, 255, 34);
}

.alert {
    position: fixed;
    top: -10vh;
    left: 10vw;
    width: 80vw;
    z-index: 4;
    text-align: center;
    color: white;
}

.alert > p {
    margin: 2% 0;
}

.error {
    background-color: rgba(255, 0, 0, 0.616);
    border: 2px solid red;
}

.success {
    background-color: rgba(0, 255, 0, 0.7);
    border: 2px solid rgb(0, 255, 0);
}

.info {
    background-color: rgba(0, 60, 255, 0.7);
    border: 2px solid rgb(0, 60, 255);
}